.dungeonTitle {
  flex: 4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 20px;
}

#simple-tab-0,
#simple-tab-1,
#simple-tab-2,
#simple-tab-3 {
  margin-right: 55px;
}
