.chart {
  margin: 20px;
  margin-left: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 7px 8px 19px -4px rgba(133, 132, 132, 0.54);
  -webkit-box-shadow: 7px 8px 19px -4px rgba(133, 132, 132, 0.54);
  -moz-box-shadow: 7px 8px 19px -4px rgba(133, 132, 132, 0.54);
  justify-content: center;
}

.chartTitle {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}
